{{!-- Header  --}}
{{!-- / Header  --}}

{{!-- Teachers --}}
<div id="teachers">
  <div class="media">
    <img class="mr-3" src="../img/MarcusProfile.jpg" alt="Generic placeholder image">
    <div class="media-body">
      <h2 class="mt-0">Marcus Wiseman</h2>
      <h6>Hello, my name is Marcus Wiseman and I'm a native English speaker from America. I teach intermediate, advanced and Conversational English here in Prague.
        <br> One of my specialties is in Business English, CV preparation and getting you ready for job interviews that are in English. In America I worked in hotel management for over ten years for the Hilton and Marriott companies. During this time I was directly involved in the hiring processes of evaluating CVs and interviewing job candidates.
        <br> Whatever your English needs are I can tailor lessons just for you right here in Prague. Lessons with me start at 700 CZK per hour.</h6>
    </div>
  </div>
</div>
{{!-- / Teachers --}}
