{{!-- Header  --}}
<div class="header-wrapper">
  <div class="jumbotron jumbotron-fluid">
    <h1><span>W</span>ISEMAN <span>E</span>NGLISH</h1>
    <p class="lead">English Learning Solutions</p>
  </div>
</div>
{{!-- / Header  --}}

{{!-- Concept --}}
<div id="concept" class="parallax-window d-flex justify-content-center" data-parallax="scroll">
  <img id="hero" class="parallax-slider" src="./img/books.jpg" alt="">
  <div class="container d-flex align-items-center">
    <p class="text-justify">We believe that the quickest way for you to improve your English skill is the same way you would develop any skill - practice, practice, practice! Like learning a musical instrument, we learn the rules and hand movements, then we practice.  Just like that we will help with your grammar, pronunciation and vocabulary but most importantly we will practice using it. This will get you much more comfortable speaking in English, break down your barriers and help you form correct speaking habits.</p>
  </div>
</div>
{{!-- / Concept --}}

{{!-- Contact bar --}}
<div id="contact-bar">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h2>GET IN TOUCH!</h2>
      </div>
      <div class="col-sm">
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
              <i class="fab fa-facebook"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn btn-outline-light btn-social text-center rounded-circle" href="http://www.linkedin.com/in/marcus-wiseman">
              <i class="fab fa-linkedin"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-sm address">
        <a href="mailto:md.wiseman@hotmail.com">md.wiseman@hotmail.com</a>
      </div>
    </div>
  </div>
</div>
{{!-- / Contact bar --}}

{{!-- Teachers --}}
<div id="teachers">
  <div class="media">
    <img class="mr-3" src="../img/MarcusProfile.jpg" alt="Generic placeholder image">
    <div class="media-body">
      <h2 class="mt-0">Marcus Wiseman</h2>
      <h6>Hello, my name is Marcus Wiseman and I'm a native English speaker from America. I teach intermediate, advanced and Conversational English here in Prague.
        <br><br> One of my specialties is in Business English, CV preparation and getting you ready for job interviews that are in English. In America I worked in hotel management for over ten years for the Hilton and Marriott companies. During this time I was directly involved in the hiring processes of evaluating CVs and interviewing job candidates.
        <br><br> Whatever your English needs, I can tailor lessons just for you right here in Prague. Lessons with me start at 700 CZK per hour.</h6>
    </div>
  </div>
  <div id="book" class="container">
    <div class="row justify-content-center">
      <h4>Book a lesson with Marcus!</h4>
      <a class="btn btn-outline-dark" href="https://wisemanenglish.simplybook.it/v2/#book">BOOK NOW</a>
    </div>
  </div>
</div>
{{!-- / Teachers --}}

{{!-- Map --}}
{{!-- / Map --}}
