{{!-- Header  --}}
<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#">WISEMAN ENGLISH</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
    </ul>
  </div>
</nav>
{{!-- / Header  --}}

{{!-- Parrelax --}}

{{!-- / Parrelax --}}

{{!-- Contact bar --}}
<div id="contact-bar">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h2>GET IN TOUCH!</h2>
      </div>
      <div class="col-sm">
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
              <i class="fab fa-facebook"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn btn-outline-light btn-social text-center rounded-circle" href="http://www.linkedin.com/in/marcus-wiseman-51b00015a">
              <i class="fab fa-linkedin"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-sm address">
        <a href="mailto:md.wiseman@hotmail.com">md.wiseman@hotmail.com</a>
      </div>
    </div>
  </div>
</div>
{{!-- / Contact bar --}}

{{!-- Teachers --}}
<div id="teachers">
  <div class="media">
    <img class="mr-3" src="../img/MarcusProfile.jpg" alt="Generic placeholder image">
    <div class="media-body">
      <h2 class="mt-0">Marcus Wiseman</h2>
      <h6>Hello, my name is Marcus Wiseman and I'm a native English speaker from America. I teach intermediate, advanced and Conversational English here in Prague.
        <br><br> One of my specialties is in Business English, CV preparation and getting you ready for job interviews that are in English. In America I worked in hotel management for over ten years for the Hilton and Marriott companies. During this time I was directly involved in the hiring processes of evaluating CVs and interviewing job candidates.
        <br><br> Whatever your English needs, I can tailor lessons just for you right here in Prague. Lessons with me start at 700 CZK per hour.</h6>
    </div>
  </div>
  <div id="book" class="container">
    <div class="row justify-content-center">
      <h4>Book a lesson with Marcus!</h4>
      <a class="btn btn-outline-dark" href="https://wisemanenglish.simplybook.it/v2/#book">BOOK NOW</a>
    </div>
  </div>
</div>
{{!-- / Teachers --}}
