<!DOCTYPE html>
<html lang="en">
<head>

  {{!-- Meta tags --}}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="author" content="Marcus Wiseman">
  <meta name="theme-color" content="#322D3C">
  <link rel="shortcut icon" href="/img/logo1.png" type="image/x-icon">
  
  <title>{{title}}</title>

  {{!-- Icons --}}
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  {{!-- Styles and fonts --}}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dancing+Script|Lato|Playfair+Display:400i" />
  <link rel="stylesheet" href="/stylesheets/third-party/bootstrap.min.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  {{!-- <link rel="stylesheet" href="/stylesheets/style.min.css" /> --}}
</head>

<body>
  {{!-- Nav  --}}
  <nav class="navbar navbar-expand-lg navbar-light sticky-top" id="mainNav">
    <a class="navbar-brand" href="#"><img src="/img/logo.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#concept">CONCEPT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#teachers">TEACHER</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact-bar">CONTACT</a>
        </li>
      </ul>
    </div>
  </nav>
  {{!-- / Nav  --}}

  {{{body}}}

  {{!-- Quote --}}
  <div id="quote">
    <div class="container">
      <div id="carousel" class="carousel slide" data-interval="7000" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <h2>"Any fool can know. The point is to understand."</h2>
            <h6>― Albert Einstein</h6>
          </div>
          <div class="carousel-item">
            <h2>"If you think education is expensive, try estimating the cost of ignorance."</h2>
            <h6>— Howard Gardner</h6>
          </div>
          <div class="carousel-item">
            <h2>"Live as if you were to die tomorrow. Learn as if you were to live forever."</h2>
            <h6>― Mahatma Gandhi</h6>
          </div>
          <div class="carousel-item">
            <h2>"A teacher is one who makes himself progressively unnecessary."</h2>
            <h6>— Thomas Carruthers</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{!-- / Quote --}}

  {{!-- Footer  --}}
  <footer class="footer text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-5 mb-lg-0">
          <h4 class="mb-4">LOCATION</h4>
          <p class="lead mb-0">
            Londynska 575/48 <br>
            Prague 2, 120 00 <br>
            Czech Republic
          </p>
        </div>
        <div class="col-md-4 mb-5 mb-lg-0">
          <h4 class="mb-4">AROUND THE WEB</h4>
          <ul class="list-inline mb-0">
            <li class="list-inline-item">
              <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://www.facebook.com/wiseman.englishtutoring/">
                <i class="fab fa-facebook"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://twitter.com/prague_english">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn btn-outline-light btn-social text-center rounded-circle" href="http://www.linkedin.com/in/marcus-wiseman">
                <i class="fab fa-linkedin"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4 mb-5 mb-lg-0">
          <h4 class="mb-4">CONTACT US</h4>
          <p class="lead mb-0">
            <address>
              <a href="mailto:md.wiseman@hotmail.com">md.wiseman@hotmail.com</a>
            </address>
          </p>
        </div>
      </div>
    </div>
    <div class="container">
      <small>Copyright &copy; Wiseman English 2018</small>
    </div>
  </footer>
  {{!-- / Footer  --}}

  {{!-- jquery, bootstrap and plugins --}}
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/parallax.js/1.4.2/parallax.min.js"></script>
  <script src="./javascripts/third-party/bootstrap.bundle.min.js"></script>
  
  {{!-- Scripts --}}
  <script src="./javascripts/main.js"></script>
  {{!-- <script src="./javascripts/main.min.js"></script> --}}

</body>
</html>
