@import 'public/styl/*'

html 
  font-family 'Lato', sans-serif !important
  a 
    text-decoration none !important

#teachers
  background-color bgcream
  color wedark 
  padding-top 4rem
  padding-bottom 4rem
  padding-left 25% 
  padding-right 25% 
  h6  
    text-align right
    font-family 'Dancing Script', cursive
    letter-spacing 1px
    line-height 1.5em

#quote 
  background-color weblue
  color bgcream
  text-align center
  letter-spacing 1.5px
  padding-top 3rem
  padding-bottom 3rem
  h2 
    font-family 'Playfair Display', serif
    font-style italic
    font-weight bold

.footer 
  padding-top 5rem
  padding-bottom 5rem
  background-color wedark 
  color azure  
  a  
    color azure  
    :hover
      color weblue 
