html {
  font-family: 'Lato', sans-serif !important;
}
#teachers {
  background-color: #f0f0f0;
  color: #322d3c;
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 10%;
  padding-right: 10%;
}
#teachers img {
  width: 50%;
  height: auto;
}
#teachers h2 {
  font-size: 4rem;
  font-weight: bold;
}
#teachers h6 {
  text-align: right;
  font-family: 'Dancing Script', cursive;
  font-size: 1.5rem;
  letter-spacing: 1px;
  line-height: 1.5em;
}
#teachers #book {
  padding-top: 3rem;
}
#teachers #book h4 {
  padding-right: 20px;
}
#contact-bar {
  background-color: #38a8ff;
  color: #f0f0f0;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
#contact-bar .address a {
  color: #f0f0f0;
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
}
#contact-bar .address a :hover {
  color: #38a8ff;
}
#quote {
  background-color: #38a8ff;
  color: #f0f0f0;
  text-align: center;
  letter-spacing: 1.5px;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
#quote h2 {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: bold;
}
.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #322d3c;
  color: #f0f0f0;
}
.footer a {
  color: #f0f0f0;
}
.footer a :hover {
  color: #38a8ff;
}
