@import 'public/styl/*'

html 
  font-family 'Lato', sans-serif !important

nav
  background-color white 
  height 5rem
  img
    width auto
    height 5rem
  a 
    color wedark

.navbar-collapse
  background-color white
  text-indent 10%

.jumbotron
  background-color wedark 
  color bgcream 
  padding-top 6rem
  padding-bottom 6rem
  text-align center
  position relative
  margin-bottom 0
  h1 
    font-family 'Playfair Display', serif
    font-size 5rem
    span 
      font-size 6rem 

#concept 
  color wedark
  p
    font-size 2rem 

#hero
  opacity 0.1

.parallax-window
  min-height 70vh
  background transparent

#teachers
  background-color bgcream
  color wedark 
  padding-top 4rem
  padding-bottom 4rem
  padding-left 10% 
  padding-right 10% 
  img
    width 50%
    height auto
  h2 
    font-size 4rem
    font-weight bold
  h6  
    text-align right
    font-family 'Dancing Script', cursive
    font-size 1.5rem
    letter-spacing 1px
    line-height 1.5em
  #book 
    padding-top 3rem
    h4 
      padding-right 20px

#contact-bar
  background-color weblue 
  color bgcream
  text-align center
  padding-top 2rem
  padding-bottom 2rem
  .address a 
    color bgcream
    font-family 'Dancing Script', cursive
    font-size 2.5rem
    :hover
      color weblue 

#quote 
  background-color weblue
  color bgcream
  text-align center
  letter-spacing 1.5px
  padding-top 3rem
  padding-bottom 3rem
  h2 
    font-family 'Playfair Display', serif
    font-style italic
    font-weight bold

.footer 
  padding-top 5rem
  padding-bottom 5rem
  background-color wedark 
  color bgcream  
  a  
    color bgcream
    :hover
      color weblue 
