@import 'public/styl/*'

html 
  a 
    text-decoration none !important

.footer 
  padding-top 5rem
  padding-bottom 5rem
  background-color wedark 
  color azure  
  a  
    color azure  
    :hover
      color weblue 
